<%= render(:partial => "cart" , :object => @cart) %>
<h2>Proceso de Compra..................................................... </h2>
<br/>
<br/>
<br/>
<br/>
<%= " | #{link_to("Usuario ", users_path)}" if current_user.admin? %>| <%= link_to(" Salir ", '/logout') %>|<%= link_to ' New articulo ', new_articulo_path %>|
<h1>Tus articulos</h1>
<table>
  <tr>
    <th>Nombre</th>
    <th>Descripcion</th>
    <th>Precio</th>
    <th>Cantidad</th>
  </tr>

<% @articulos.each do |articulo| %>
  <tr>
    <td><%=h articulo.nombre %></td>
    <td><%=h articulo.descripcion %></td>
    <td><%=h articulo.precio %></td>
    <td><%=h articulo.cantidad %></td>
    <td><%= link_to 'Shows', articulo %></td>
    <td><%= link_to 'Edits', edit_articulo_path(articulo) %></td>
    <td><%= link_to 'Destroys', articulo, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<%= will_paginate @revistas %>
<br />

